@font-face {
    font-family: 'Modesto';
    src: url(/fonts/Modesto/Modesto\ Condensed\ Bold.ttf);
}

body {
    opacity: 0;
    transition: opacity 4s;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;

    background-color: #910c10;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

header {
    margin: 0 auto;
    text-align: center;
}

header > h1 {
    font-family: 'Modesto', sans-serif;
    color: #e5e5e5;
    margin-top: 0;
    font-size: 62px;
    letter-spacing: .3rem;
}

#cards {
    display: flex;
    justify-content: space-evenly;
}

    #cards > img {
        height: 500px;
    }

    #cards > .the-devil {
        transform: rotate(-8deg);
        margin-top: 12px;
        filter: drop-shadow(-20px 10px 25px black)
    }

    #cards > .the-star {
        transform: rotate(3deg);
        filter: drop-shadow(20px 16px 25px black)
    }

    #cards > .death {
        filter: drop-shadow(0px 16px 25px black)
    }

button.btn.btn-outline-light {
    margin-bottom: 40px;
    font-family: 'Modesto';
    letter-spacing: .1rem;
}

.logo{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    height: 131px;
}