@font-face {
    font-family: 'Modesto';
    src: url(/fonts/Modesto/Modesto\ Condensed\ Bold.ttf);
}

body {
    opacity: 0;
    transition: opacity 4s;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;

    background-color: #910c10;
}

button#quit {
    margin-top: 30px;
}

.vignette {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

header {
    color: #e5e5e5;
    margin: 0 auto;
    text-align: center;
}

header > h1 {
    font-family: 'Modesto', sans-serif;
    margin-top: 0;
    font-size: 62px;
    letter-spacing: .3rem;
}

#cards {
    display: flex;
    justify-content: space-evenly;
}

    #cards > img {
        height: 500px;
    }

    #cards > #the-devil {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;;
        transform: rotate(-6deg);
        margin-top: 9px;
        filter: drop-shadow(-20px 10px 25px black)
    }

        /* the active class after devil turns it selectable inside the DOM */
        #cards > #the-devil.active:hover {
            transform: scale(1.1);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgba(212, 0, 0, 0.8))
        } 

    #cards > #the-star {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;;
        transform: rotate(3deg);
        filter: drop-shadow(20px 16px 25px black)
    }

        #cards > #the-star.active:hover {
            transform: scale(1.1) rotate(-2deg);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgb(255, 206, 72));
        }

    #cards > #death {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;
        margin-top: -4px;
        filter: drop-shadow(0px 16px 25px black)
    }

        #cards > #death.active:hover {
            transform: scale(1.1);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgb(255, 255, 255));
        }


p {
    margin: 0 auto;
    width: 730px;
}

.btn.btn-outline-light {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Modesto';
    letter-spacing: .1rem;
}

.logo{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    height: 131px;
}

/*  animation */

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}

.bgFade {
    -webkit-transition: background-color 3000ms linear;
    -ms-transition: background-color 3000ms linear;
    transition: background-color 3000ms linear;
}