@font-face {
    font-family: 'Modesto';
    src: url(./fonts/Modesto/Modesto/Modesto\ Condensed\ Bold.ttf);
}

body {
    opacity: 0;
    transition: opacity 4s;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;

    background-color: #910c10;
}

.score-style {
    font-family: Modesto;
    font-size: 40px;
    transform: translateY(-20px);
    height: 72.800px;
}

#message {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

    .msg-transition {
        transition: transform 0.3s cubic-bezier(0.64, -0.18, 0.4, 1.17) 2.7s;
        transform: translateY(-40px);
    }

#quit {
    margin: 0 auto;
    animation: fade-in 3s forwards;
}

    .button-down {
        transition: transform .2s cubic-bezier(0.55, 0.9, 0.44, 1.2);
        transform: translateY(15px);
    } .button-up {
        transition: transform .2s cubic-bezier(0.55, 0.9, 0.44, 1.2);
        transform: translateY(0px);
    }

#restart {
    margin: 0 auto;
    animation: fade-in-in 4s forwards;
}

.vignette {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

header {
    color: #e5e5e5;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Modesto', sans-serif;
    margin-top: 0;
    font-size: 62px;
    letter-spacing: .3rem;
    color: #e5e5e5;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    #cards > img {
        height: 500px;
    }

    #cards > #the-devil {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;
        transform: rotate(-6deg);
        margin-top: 9px;
        filter: drop-shadow(-20px 10px 25px black)
    }

        /* the active class after devil turns it selectable inside the DOM */
        #cards > #the-devil.active:hover {
            transform: scale(1.1);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgba(212, 0, 0, 0.8))
        } 

    #cards > #the-star {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;;
        transform: rotate(3deg);
        filter: drop-shadow(20px 16px 25px black)
    }

        #cards > #the-star.active:hover {
            transform: scale(1.1) rotate(-2deg);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgb(255, 206, 72));
        }

    #cards > #death {
        will-change: filter;

        transition: transform .2s, filter .4s ease-out;
        margin-top: -4px;
        filter: drop-shadow(0px 16px 25px black)
    }

        #cards > #death.active:hover {
            transform: scale(1.1);
            filter: drop-shadow(0.3rem 0.3rem 2rem rgb(255, 255, 255));
        }

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 730px;
    height: 72px;
    flex-direction: column;
}

.fade-class {
    animation: fade-in 0.5s;
}

.btn.btn-outline-light {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Modesto';
    letter-spacing: .1rem;
}

.logo{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    height: 131px;
}

/*  animations */

/* fade-out uses regular, 'non-keyframes' syntax for it is easier to trigger */
.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
} 

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bgFade {
    -webkit-transition: background-color 3000ms linear;
    -ms-transition: background-color 3000ms linear;
    transition: background-color 3000ms linear;
}
